<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>HistoricPlaces: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'jquery-themes/css/mint-choc/jquery-ui-1.8.custom' %>
  <%= stylesheet_link_tag 'ne_historic' %>
  <%= javascript_include_tag 'jquery-themes/jquery-1.4.2.min','jquery-themes/jquery-ui-1.8.custom.min','ne_historic', :cache => 'combined' %>

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=<%= @gkey %>" type="text/javascript"></script>
</head>
<body onunload="GUnload()">
<%= yield %>
</body>
</html>
